input {
  outline: none;
 }

.credentials-box {
  height: 375px;
  width: 375px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: var(--main-border-radius);
}

.credentials-input {
  height: 45px;
  width: 325px;
}

.credentials-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.credentials-header-icon {
  flex: 2;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  color: var(--primary-color);
}

.credentials-header-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.credentials-input-body {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.credentials-input-body-section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-text-email {
  height: 15px;
  font-size: 14px;
  text-align: center;
  color: red;
}
.error-text-pw {
  height: 25px;
  font-size: 14px;
  text-align: center;
  color: red;
}

.credentials-button-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.credentials-button {
  height: 50px;
  width: 330px;
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: var(--main-border-radius);
  color: white;
  font-weight: 700;
}


.help-text {
  margin-top: 10px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}