.main-filter-container {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-filter-buttons-selected {
  height: 45px;
  margin: 15px;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--main-border-radius);
  text-decoration: none;
  font-weight: 700;
  margin: 5px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
}

.main-filter-buttons {
  height: 45px;
  margin: 15px;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--main-border-radius);
  text-decoration: none;
  font-weight: 700;
  margin: 5px;
  background-color: lightgrey;
  color: grey;
  border: none;
  cursor: pointer;
}

.message-container {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(335px, 526px));
  padding: 10px;
  grid-gap: 40px;
}
.card{
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.18);
  border: 1px solid grey;
}
.card-container{
  position: relative;
}

img{
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
  aspect-ratio: 1/1;
  background-color: white;
}
.card-container:after{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}

.details{
  padding: 20px 10px;
}
.details>h4{
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.details>p{
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.delete-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -18px;
  right: -11px;
  margin: 5px;
  background-color: lightgrey;
  border-radius: 22px;
  cursor: pointer;
  color: #2d2d2d;
  border: none;
}